.navbar {
  float: right;
  margin: auto 32px;
  position: relative;
  min-height: 80px;
}



@media only screen and (max-width: 425px) {
  .navbar {
    float: none;
    /* margin: auto 32px; */
    position: static;
    /* min-height: 80px; */
    display: flex;
    justify-content: space-between;
  }
}
