.cname {
  color:#767676;
  display: flex;
  /* width: 100%; */
}

.acn {
  color: #287F4E;
}

.sidebarList > ul > li {
  height: 40px;
  padding-left: 22px;
}

.sidebarList > ul > li > a:hover {
  color: #287F4E !important;
}

.sidebarList > ul > li > a > svg {
  width: 24px !important;
}

@media only screen and (max-width: 425px) {
  .sidebarIcon{
    position: relative;
    top: none;
    transform: translate(-50%,-30%);
    display: flex;
  }  
}
