.profileSection {
  margin: 22px;
  font-size: 15px;
  display: inline-block;
}

.profileSection p {
  margin-bottom: 4px;
  font-weight: 300;
}

.profileSection__clickableName {
  display: flex;
  cursor: pointer;
}

.profileSection__clickableName > p {
  margin-right: 8px;
  font-weight: 500;
}

.profileSection__icon {
  margin-top: -3px;
  float: both;
}