* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

/* .svg-inline--fa {
  color: initial !important;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li, a, button {
  text-decoration: none !important;
  list-style: none !important;
}

a:hover {
  text-decoration: none !important;
}

hr {
  margin: 0;
  opacity: 1 !important;
  color: #d8d8d8 !important;
}

.btn-primary {
  background: #287F4E !important;
  border-color: #287F4E !important;
}
.btn-primary:hover {
  background: #287F4ECC !important;
  border-color: #287F4ECC !important;
}

.btn-secondary {
  color: black !important;
  background: #F5D40A80 !important;
  border-color: #F5D40A80 !important;
}

.btn-secondary:hover {
  background: #F5D40A !important;
}

.btn-outline-primary {
  color: black !important;
  /* background: #287F4E !important; */
  border-color: #287F4E !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background: #287F4E !important;
  /* border-color: #287F4E !important; */
}

