* {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace }

ul {
  padding: 0 !important;
  margin: 0 !important;
}

/* .svg-inline--fa {
  color: initial !important;
} */


li, a, button {
  text-decoration: none !important;
  list-style: none !important;
}

a:hover {
  text-decoration: none !important;
}

hr {
  margin: 0;
  opacity: 1 !important;
  color: #d8d8d8 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {/* Firefox */
  -moz-appearance: textfield;
}

.dark-gray { color: #4C4C4C !important; }
.bg-light-gray { background-color: #E4E4E4; }

.circular-btn {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.circular-btn:hover { background-color: #38353510 }

.card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
} 

/* forms */
.form-control {
  border: 1px solid #287F4E;
}
.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(40 127 78 / 25%) !important;
}

.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(40 127 78 / 25%) !important;
}


/* dropdown button as design */
.dropdown > button.dropdown-toggle.btn {
  background-color: inherit !important;
  color: #767676;
  display: flex;
  justify-content: space-between;
}
.dropdown > button.dropdown-toggle.btn::after {
  margin: auto 0;
}

/* bootstrap button theme */
/* btn-primary */
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(40 127 78 / 40%) !important;
}
.btn-primary {
  background: #287F4E !important;
  border-color: #287F4E !important;
}
.btn-primary:hover {
  background: #287F4ECC !important;
  border-color: #287F4ECC !important;
}
.btn-primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(40 127 78 / 40%) !important;
}

/* btn-outline-primary */
.btn-outline-primary:active {
  background: #287f4e49 !important;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(40 127 78 / 25%) !important;
}

/* btn-secondary */
.btn-secondary {
  color: black !important;
  background: #F5D40A80 !important;
  border-color: #F5D40A80 !important;
}
.btn-secondary:hover {
  background: #F5D40A !important;
}

/* btn-outline-primary */
.btn-outline-primary {
  color: black !important;
  /* background: #287F4E !important; */
  border-color: #287F4E !important;
}
.btn-outline-primary:hover {
  color: white !important;
  background: #287F4E !important;
}

/* btn-light */
.btn-light:hover {
  background: #e7e7e7 !important;
}



/* react-bootstrap-table-next */
.react-bootstrap-table {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: white;
  padding: 0 0 55px;
  /* margin-top: -40px; */
  /* margin-bottom: -10px !important; */
}

.react-bootstrap-table > .table {
  width: 96%;
  margin: 0 auto;
  border-collapse: initial !important;
  padding-bottom: -10px !important;
}

.react-bootstrap-table > .table > tbody {
  padding-bottom: -10px !important;
}

.react-bootstrap-table > .table > thead,
.react-bootstrap-table > .table > tbody {
  border: 1.5px solid #d8d8d8;
}