
.addPermission__card {
  width: 38%;
  /* width: 420px; */
  min-width: 320px;
  max-width: 430px;
}

.addPermission__card > header {
  margin: -1px -1px 0 0;
}

.addPermission__card > form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* .addPermission__card > form > h2 {
  white-space: nowrap
} */

.addPermission__card > form > .form-control {
  border: 1px solid #287F4E;
}

.addPermission__form > .dropdown > button,
.addPermission__form > .dropdown > .dropdown-menu {
  width: 101%;
}

.addPermission__form > .dropdown.restaurant > .dropdown-menu {
  height: 200px;
  overflow: hidden auto;
}

.addPermission__form > .dropdown > .dropdown-item {
  word-wrap: break-word;
}
