.contentHeader__container {
  display: flex;
  justify-content: space-between;
}

.contentHeader > hr {
  margin: -1px auto 0;
  color: #d8d8d8;
}

.contentHeader__container > h2 {
  text-transform: uppercase; 
}