.scheduleEdit {
  margin: 20px;
}

.scheduleEdit > h4 {
  color: #287F4E;
  font-weight: 900;
  margin-bottom: 2px;
}

.scheduleEdit > small {
  font-size: .975em;
}

.scheduleEdit__row {
  display: grid;
  grid-template-columns: 24px 4fr 92.61px 4fr;
  align-items: center;
  gap: 4px;
}

.scheduleEdit__row > h4 {
  justify-self: start;
  padding-left: 20px;
}

.scheduleEdit__row > input {
  height: 100px !important;
}

.scheduleEdit__row > .scheduleHoursBox {
  font-size: 14px;
  justify-self: end;
}

.scheduleEdit__data {
  max-height: 330px;
  overflow-y: auto;
}

.scheduleEdit__data::-webkit-scrollbar {
  width: 8px;
}
.scheduleEdit__data::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.scheduleEdit__data::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 10px;
}
.scheduleEdit__data::-webkit-scrollbar-thumb:hover {
  background: #888;
}


.Dropdown-root, .Dropdown-control {
  height: 42.97px !important;
}