.scheduleEdit {
  margin: 20px;
}

.scheduleEdit > h4 {
  color: #287F4E;
  font-weight: 900;
  margin-bottom: 2px;
}

.scheduleEdit > small {
  font-size: .975em;
}

/* widths avoided if we change it to 'display: grid' */
.scheduleEdit__data {
  width: 150px;
}

.scheduleEdit__data > h4 {
  width: 140px
}

.scheduleEdit__data > input {
  width: 50px;
}

.scheduleEdit__data > .scheduleHoursBox {
  font-size: 14px
}
