.responsiveTable {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.responsiveTable > tbody > tr {
  border-top: 0.5px solid #D8D8D8;
} 


/* .responsiveTable > thead > tr > th:first-child() {
  white-space: pre-wrap
} */


.responsiveTable > thead > tr {
  height: 40px
}

.responsiveTable > thead > tr > th:not(:first-child) {
  text-align: center;
}

.responsiveTable > thead > tr > th:first-child {
  padding-left: 7px
}

.responsiveTable > thead > tr > th:last-child {
  padding-right: 8px
}



.responsiveTable > tbody > tr > td:first-child {
  padding-left: 8px
}
.responsiveTable > tbody > tr > td:not(:first-child) {
  text-align: center;
  padding: 5px 0;
}

.responsiveTable > tbody > tr > td.hours {
  font-size: 11px;
}

.responsiveTable > tbody > tr > td.totalHours {
  font-size: 14px;
}

.employeeName {
  font-size: 14px;
  width: 160px
}



@media screen and (max-width: 1200px) {
  /*
    Force table elements to not behave like tables anymore
    Hide table headers (but not display: none;, for accessibility)
  */

  .responsiveTable table,
  .responsiveTable thead,
  .responsiveTable tbody,
  .responsiveTable th,
  .responsiveTable td,
  .responsiveTable tr {
    display: block;
  }

  .responsiveTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border-bottom: 2px solid #333;
  }

  .responsiveTable tbody tr {
    border: 1px solid #000;
  }

  .responsiveTable td.pivoted {
    /* Behave like a "row" */
    border: none !important;
    position: relative;
    padding-left: calc(50% + 10px) !important;
    text-align: left !important;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .responsiveTable td .tdBefore {
    /* Now like a table header */
    position: absolute;
    display: block;

    /* Top/left values mimic padding */
    left: 1rem;
    width: calc(50% - 20px);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-align: left !important;
    font-weight: 600;
  }
}