.scheduleTable > .table-responsive {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: white;
  /* padding: 40px 0 55px; */
  /* margin-top: -40px; */
}

.table-responsive > .scheduleTable__table {
  margin: 0;
}

.table-responsive > .scheduleTable__table > tbody {
  user-select: none;
}

/* .table-responsive {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */

.scheduleTable__table>:not(:first-child) {
  border-top: none;
}


/* .responsiveTable > thead > tr > th:first-child() {
  white-space: pre-wrap
} */

.scheduleTable__table > thead,
.scheduleTable__table > tbody {
  border: 1.5px solid #d8d8d8;
}

/* .scheduleTable__table > thead > tr {
  height: 40px
} */

.scheduleTable__table > thead > tr > th:first-child {
  padding-left: 16px;
}
.scheduleTable__table > thead > tr > th:not(:first-child) {
  text-align: center;
}

.scheduleTable__table > thead > tr > th:last-child {
  padding-right: 8px
}

.scheduleTable__table > tbody > tr {
  height: 60px;
}
.scheduleTable__table > tbody > tr > td {
  /* padding-left: 0; */
  white-space: nowrap;
}
.scheduleTable__table > tbody > tr > td:not(:first-child) {
  text-align: center;
  padding: 4px 0;
}

.scheduleTable__table > tbody > tr > td.hoursBox {
  font-size: 11px;
}

.scheduleTable__table > tbody > tr > td.totalHours {
  font-size: 14px;
}

.scheduleTable__table > tbody > tr > td {
  vertical-align: middle;
}

td.employeeNameTd {
  width: 160px;
  padding-left: 16px !important;
}

td.employeeNameTd > .employeeName {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  background-color: #287f4e1e;
  border-radius: 30px;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: auto;
}


@media only screen and (max-width: 1080px) {
  td.employeeNameTd {
    width: initial !important;
  }
  .scheduleTable {
    width: 36%;
    min-width: 400px;
  }
}