

/* this one is also in ScheduleTable.css */
/* td.nameTd {
  width: 160px;
  text-align: left;
}

td.nameTd > .name {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  background-color: #287f4e1e;
  border-radius: 30px;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: auto;
} */